@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background: #2c3e50;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  padding: 2rem 1rem 1rem;
  text-align: center;
  overflow: auto;
  max-width: 768px;
}

@media only screen and (min-width: 500px) {
  .content {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.name {
  color: #48cac2;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 4px;
  margin: 2rem 0;
}

.contact {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.contact li a {
  color: #ecf0f1;
  font-size: 2rem;
  padding: 1rem;
}

.contact li a:hover {
  color: #48cac2;
}

.image {
  background: url('https://s.gravatar.com/avatar/60616ad114783d27fc5662ffee9a209d?size=496&default=retro') no-repeat center;
  background-size: 100%;
  border: solid 2px #ecf0f1;
  border-radius: 50%;
  display: inline-block;
  width: 250px;
  height: 250px;
}

.bio {
  color: #ecf0f1;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 2rem 0;
}
