<img class="author-image img-circle" src="/{{site.author.picture}}" alt="profile picture">
<h2 class="author-name">{{site.author.name}}</h2>
<p class="author-bio">{{site.author.bio}}</p>
<ul class="author-contact list-inline">
    <li><a href="http://www.github.com/{{site.github_username}}" target="_blank"><i class="fa fa-lg fa-github-square"></i></a></li>
    <li><a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank"><i class="fa fa-lg fa-twitter-square"></i></a></li>
    <li><a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><i class="fa fa-lg fa-linkedin-square"></i></a></li>
</ul>
