<img class="author-image img-circle" src="{{site.author.picture}}" alt="profile picture">
<h2 class="author-name">{{site.author.name}}</h2>
<ul class="author-contact list-inline">
    <li><a href="http://www.github.com/{{site.github_username}}" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>
