<div class="header">
    <div class="sidebar col-md-3 hidden-sm hidden-xs">
        <!-- side bar header -->
        <div class="banner">
            <div class="author-profile">
                {% include author-profile.html %}
            </div>
        </div>
        <!-- site nav -->
        <nav class="site-nav-vertical">
            <ul>
               <li><a href="/about">About</a></li>
               <li><a href="/">Posts</a></li>
            </ul>
        </nav>
    </div>

    <!-- Header -->
    <div class="banner hidden-md hidden-lg">
        <div class="author-profile">
            {% include author-profile.html %}
            <nav class="site-nav-horizontal">
                <ul class="list-inline">
                   <li><a href="/about">About</a></li>
                   <li><a href="/">Posts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
