.author-profile {
    padding-top:10px;
    width:180px;
    float: none;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .author-profile {
        margin-left: 25px;
    }
}

.author-image {
    width:100px;
    height:100px;
    margin-left:40px;
}

.author-name {
    margin-left:10px
}

.author-contact {
    margin-left:22px
}

.author-contact a {
    padding-right:5px;
    padding-left:5px;
    display:block;
}

.author-bio {
    font-style:italic;
    width:200px;
    text-align: center;
}
