.author-profile {
    padding-top:10px;
    width:300px;
    float: none;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .author-profile {
        margin-left: 25px;
    }
}

.author-image {
    width:150px;
    height:150px;
    margin-left:75px;
}

.author-name {
    font-size: 2.5rem;
    color: white;
}

.author-contact {
    margin-left:22px
}

.author-contact {
    width: 171px;
    margin-left: 64px;
    margin-bottom: 10px;
}
.author-contact a {
    padding-right:5px;
    padding-left:5px;
    display:block;
}

.author-bio {
    font-family: 'Quicksand', sans-serif;
    font-style:italic;
    text-align: center;
    font-size: 0.9rem;
}
