---
---

html {
    font-size: 16px;
    line-height: 1.5;
}

@media (min-width: 992px) {
    html {
        font-size: 20px;
        line-height: 2;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .content {
        margin-left: 350px;
    }
}

@media (min-width: 1201px) and (max-width: 1450px) {
    .content {
        margin-left: 425px;
    }
}

@media (min-width: 1451px)  {
    .content {
        margin-left: 500px;
    }
}

@media (max-width: 991px) {
    .content {
        margin-left: 0px !important;
    }
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none !important;
}

a:link,  a:visited,  a:active {
    color: {{ site.colours.primary }};
}

a:hover {
    color: {{ site.colours.secondary }};
}

p {
    margin-bottom: 20px;
}

::-moz-selection {
    color: white;
    background: {{ site.colours.secondary }};
}

::selection {
    color: white;
    background: {{ site.colours.secondary }};
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
    color: {{ site.colours.secondary }};
}

blockquote {
    color: #999;
    border-left: 5px solid {{ site.colours.primary }};
}

blockquote p {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}
