---
---

html {
    font-size: 16px;
    line-height: 1.5;
}

@media (min-width: 992px) {
    .content {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    html {
        font-size: 20px;
        line-height: 2;
    }
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none !important;
}

a:link,  a:visited,  a:active {
    color: {{ site.colours.primary }};
}

a:hover {
    color: {{ site.colours.secondary }};
}

p {
    margin-bottom: 20px;
}

::selection {
    color: white;
    background: {{ site.colours.secondary }};
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
    color: {{ site.colours.secondary }};
}
