---
---

.sidebar {
    width:350px;
    background-color:#F2F2F2;
    padding-right:0px;
    padding-left: 0px;
    position: fixed;
}

.header ul {
    padding-left:0;
}

.header li a {
    color: white;
    font-size:1.5rem;
    text-decoration: none !important;
}

.header li:active {
    background-color: {{ site.colours.secondary }} !important;
}

.header li:hover {
    background-color: {{ site.colours.primaryLight }};
}

.banner {
    background-color: {{ site.colours.primary }};
    color: white;
    margin-top:25px;
    height:380px;
}

.banner i {
    color: white;
}

.site-nav-vertical {
    margin-top:50px;
}

.site-nav-vertical ul {
    list-style-type: none;
}

.site-nav-vertical li {
    margin-top:10px;
    background-color: {{ site.colours.primary }};
    padding-left:130px;
}

.site-nav-vertical a {
    color: white;
    display:block;
    font-family: 'Quicksand', sans-serif;
}

.site-nav-horizontal {
    margin-left:40px;
}

.site-nav-horizontal a {
    font-family: 'Quicksand', sans-serif;
    color: white;
    display:block;
}
