.post-item {
    border-radius: 15px;
    background: #EFEFEF;
    padding:10px;
    padding-left:50px;
    padding-right:50px;
    margin-top:20px;
}

.post-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.post-date {
    font-style:italic;
    color: grey;
    font-size: 0.8rem;
}

.post-content {
  margin-bottom: 100px;
}

.post-content p, .post-content li, .post-item p {
  font-size: 1rem;
}    

.post-content p {
  margin-bottom: 20px;
}

.post-item a:link, .post-item a:visited, .post-item a:hover, .post-item a:active,
.post-content a:link, .post-content a:visited, .post-content a:hover, .post-content a:active {
    color: #48CAC2;
}
