---
---

.post-item {
    padding:10px;
    padding-left:50px;
    padding-right:50px;
    margin-top:20px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: {{ site.colours.secondary }};
}

.post-title {
    font-size: 3rem !important;
    color: {{ site.colours.primary }} !important;
}

.post-date {
    font-style:italic;
    color: grey;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 100px;
}

.post-content p, .post-content li, .post-item p {
  font-size: 1rem;
}

.post-content p {
    margin-bottom: 20px;
}

.post-read {
    font-size: 1.2rem;
    color: {{ site.colours.secondary }} !important;
}

.post-read:hover {
    color: {{ site.colours.primary }} !important;
}

.highlighter-rouge {
    margin-bottom: 10px;
}
